body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

span {
  color: orange;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  text-align: justify;
}

.p-below-button {
  margin-bottom: 50px;  
}


.flexible-container {
  display: flex;
  margin: 150px;
}

.half-width {
  width: 50%;
  padding: 5px;
}
.half-width-img {
  width: 80%;
}

.button {
  background-color: tomato;
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
}

#about-me {
  margin-top: 150px;
}

#background-image {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  padding: 50px 100px;
}
/*image-height of second section*/
#sec-2-img {
  height: 545px;
}

/*my recipes heading*/
#my-recipes {
  text-align: center;
  padding: 0px 200px;
  margin-left: 100px;
  margin-right: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#my-recipes-flex {
  display: flex;
  margin-right: 50px;
  padding-left: 50px;
  margin-bottom: 50px;
}

.two-recipes {
  border: 10px solid white;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px 20px whitesmoke;
  border-radius: 30px;
}

.recipe-image {
  height: 300px;
  width:550px;
  border-radius: 30px;
}

.followers {
  font-size: 50px;
  margin-bottom: -8px;
}

#flex-followers {
  display: flex;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 70px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 20px 30px whitesmoke;
  border-radius: 30px;
}

.social-media {
  padding-left: 80px;
  padding-right: 80px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 60px;
  padding-top: 30px;
}

footer p {
  text-align: center;
  margin-bottom: 50px;
  font-family: cursive;
}

footer h4 {
  margin-bottom: 50px;
  font-size: 30px;
  font-style: italic;
}