body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

span {
  color: orange;
}

h1 {
  font-size: 50px;
}

p {
  text-align: justified;
  text-decoration: none;
}

.flexible-container {
  display: flex;
  margin: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5px;
}
.half-width-img {
  width: 80%;
}

.button {
  background-color: tomato;
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
}